
.idea/**/workspace.xml
.idea/**/uiDesigner.xml
.idea/**/misc.xml
.idea/**/compiler.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/contentModel.xml

.idea/modules.xml
.idea/*.iml
.idea/modules


out/


.idea_modules/